body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

#crackButton {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

#egg {
  background-image: url('egg.jpeg'); 
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 300px;
  margin-top: 20px;
  transition: background-image 0.5s;
}
